<section class="sorting-content">
  <div class="filters">
    <ul>
      <li>1</li>
      <li>1</li>
      <li>1</li>
      <li>1</li>
    </ul>
  </div>
  <main class="films-grid">
    <div class="dummy-film"></div>
    <div class="dummy-film"></div>
    <div class="dummy-film"></div>
    <div class="dummy-film"></div>
    <div class="dummy-film"></div>
    <div class="dummy-film"></div>
    <div class="dummy-film"></div>
    <div class="dummy-film"></div>
    <div class="dummy-film"></div>
  </main>
</section>
