@use "variables" as *;

.page-layout {
  display: flex;
  justify-content: space-around;
  max-width: $max-content-width;
  margin: 0 auto;
}

.container {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: $padding-xxl;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: $padding-md;
  }
}
