@defer {
<swiper-container
  navigation="true"
  space-between="30"
  slides-per-view="1"
  slides-per-group="1"
  mousewheel="true"
  free-mode="true"
  scrollbar="true"
  scrollbar-draggable="true"
  [breakpoints]="breakpoints"
>
  @for(film of filmList(); track film.id) {
  <swiper-slide>
    <!-- TODO add redirect -->
    <a class="slide-card">
      <img [src]="film.posterPath" [alt]="film.title + ' poster'" />
      <div class="content-film">
        <p class="title" [title]="film.title">{{ film.title }}</p>
        <p class="date">{{ film.subTitle | date : "MMM d, y" }}</p>
      </div>
    </a>
  </swiper-slide>
  }
</swiper-container>
} @placeholder {
<div class="swiper-placeholder">
  @for(film of filmList().slice(0, 4); track film.id) {
  <div class="placeholder-item">
    <img [src]="film.posterPath" [alt]="film.title + ' poster'" />
    <div class="content-film">
      <p class="title">{{ film.title }}</p>
      <p class="date">{{ film.subTitle | date : "MMM d, y" }}</p>
    </div>
  </div>
  }
</div>
}
