<div class="wrapper bg-color-transition">
  <header>
    <div class="logo-container">
      <a [routerLink]="['/']"
        ><img src="assets/images/logo.svg" alt="logo Profilm"
      /></a>
    </div>
    <div class="navigation-wrapper">
      <nav>
        @for(nav of headerNavigation; track $index) {
        <div
          class="nav-category"
          (mouseenter)="openNav(nav.title)"
          (mouseleave)="closeNav()"
          (focusout)="onCategory($event)"
        >
          <a
            class="main-nav"
            [routerLink]="[nav.link]"
            (keydown.space)="onSpacePress($event)"
            (focusin)="onFocusIn(nav.title)"
            (focusout)="onFocusOut()"
            >{{ nav.title }}</a
          >
          <div class="nav-additional" [class.active]="nav.title === openedTab">
            <div class="nav-content">
              @for(category of nav.categories; track category.categoryTitle) {
              <div class="nav-group">
                <p class="title-group">Year</p>
                <ol>
                  @for(subcategory of category.subcategories; track
                  subcategory.title) {
                  <li>
                    <a [routerLink]="subcategory.link" [tabIndex]="tabIndex">{{
                      subcategory.title
                    }}</a>
                  </li>
                  }
                </ol>
              </div>
              }
            </div>
          </div>
        </div>
        }
      </nav>
      <div class="theme-toggle">
        @if (currentColorTheme === themes.LIGHT) {
        <button (click)="onThemeChange(themes.DARK)">
          <svg
            class="icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" />
          </svg>
        </button>
        } @else {
        <button (click)="onThemeChange(themes.LIGHT)">
          <svg
            class="icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="12" cy="12" r="5" fill="white" />
            <path
              d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
        </button>
        }
      </div>
      <a [routerLink]="['/']">Profile</a>
    </div>
  </header>
</div>
