<header class="wrapper bg-color-transition">
  <div class="header-content">
    <div class="left-part">
      <div class="logo-container">
        <a [routerLink]="['/']"
          ><img src="assets/images/logo.svg" alt="logo Profilm"
        /></a>
      </div>
      <nav>
        @for(nav of headerNavigation; track $index) {
        <div
          class="nav-category"
          (mouseenter)="openNav(nav.title)"
          (mouseleave)="closeNav()"
          (focusout)="onCategory($event)"
        >
          <a
            class="main-nav"
            [routerLink]="[nav.link]"
            (keydown.space)="onSpacePress($event)"
            (focusin)="onFocusIn(nav.title)"
            (focusout)="onFocusOut()"
            >{{ nav.title }}</a
          >
          <div class="nav-additional" [class.active]="nav.title === openedTab">
            <div class="nav-content">
              @for(category of nav.categories; track category.categoryTitle) {
              <div class="nav-group">
                <p class="title-group">{{ category.categoryTitle }}</p>
                <ol>
                  @for(subcategory of category.subcategories; track
                  subcategory.title) {
                  <li>
                    <a
                      [routerLink]="subcategory.link"
                      [queryParams]="subcategory.queryParams"
                      [tabIndex]="tabIndex"
                      >{{ subcategory.title }}</a
                    >
                  </li>
                  }
                </ol>
              </div>
              }
            </div>
          </div>
        </div>
        }
      </nav>
    </div>
    <div class="right-part">
      <a class="search-icon" [routerLink]="['/', 'search']">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="var(--pink)"
          class="size-6"
          class="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>
      </a>
      <app-theme-selector></app-theme-selector>
      <button class="hamburger-icon" (click)="openSideBar()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="var(--pink)"
          class="size-6"
          width="24"
          height="24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
      <!-- <a [routerLink]="['/']">Profile</a> -->
    </div>
  </div>
</header>

<div id="myNav" class="overlay" [class.active]="sidebar">
  <button class="close-btn" (click)="closeSidebar()">
    <svg
      stroke="var(--pink)"
      class="icon"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="3"
      width="24"
      height="24"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18 18 6M6 6l12 12"
      />
    </svg>
  </button>
  <div class="overlay-content">
    <a [routerLink]="'/'" (click)="closeSidebar()">Main Page</a>
    @for(nav of headerNavigation; track $index) {
    <a [routerLink]="nav.link" (click)="closeSidebar()">{{ nav.title }}</a>
    }
    <div class="theme-wrapper">
      <app-theme-selector></app-theme-selector>
    </div>
  </div>
</div>
