@use "variables" as *;

.wrapper {
  display: flex;
  justify-content: space-around;
  top: 0;
  position: sticky;
  z-index: 101; // Movie player has z-index: 100
  background-color: $bg-color;
  border-bottom: 1px solid $border-color;
}

header {
  display: flex;
  width: $max-content-width;

  .logo-container {
    a {
      img {
        width: 160px;
        height: 100%;
      }
    }
  }

  .navigation-wrapper {
    display: inline-flex;
    font-size: $font-size-md;
    text-transform: uppercase;

    .theme-toggle {
      border-left: 1px solid $border-color;
      .icon {
        width: 24px;
        height: 24px;
        margin: 10px;
      }
      .sun {
        fill: $white;
      }
      .moon {
        fill: #2c3e50;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
      }
    }

    nav {
      display: inline-flex;

      .nav-category {
        position: relative;
        display: flex;

        .main-nav {
          text-decoration: none;
          color: $text-color;
          padding: $padding-md;
          border-left: 1px solid $border-color;
        }

        .nav-additional {
          display: none;
          position: absolute;
          width: 60vw;
          top: 100%;
          left: 0;

          .nav-content {
            display: flex;
            gap: $gap-md;
            flex-wrap: wrap;

            width: fit-content;
            background-color: aqua;
            max-width: 100%;

            ol {
              list-style: none;
              min-width: 120px;
            }
          }

          &.active {
            display: flex;
          }
        }
      }
    }
  }
}
