@use "variables" as *;

.theme-toggle {
  border-left: 1px solid $border-color;
  position: relative;

  button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
  }

  .toggle-menu {
    display: block;
    position: absolute;
    top: 100%;
    background-color: $bg-color;

    .button-wrapper {
      border-bottom: 1px dashed $border-color;

      button {
        display: block;
        p {
          font-size: $font-size-xs;
          text-align: center;
          color: $text-color;
        }
      }

      &:first-child {
        border-top: 1px solid $border-color;
      }
    }
  }

  // &:hover,
  // &:focus-within {
  //   .toggle-menu {
  //     display: block;
  //   }
  // }
}
