<main>
  <section>
    <h2 class="category-title pink">Popular Movies</h2>
    <app-swiper-horizontal-films
      [filmList]="popularMovies"
      [scrollbarColor]="'var(--pink)'"
      [navigationColor]="'var(--pink)'"
    ></app-swiper-horizontal-films>
  </section>

  <section>
    <h2 class="category-title orange">Popular TV Series</h2>
    <app-swiper-horizontal-films
      [filmList]="popularTV"
      [scrollbarColor]="'var(--orange)'"
      [navigationColor]="'var(--orange)'"
    ></app-swiper-horizontal-films>
  </section>

  <section>
    <h2 class="category-title red">Trending Movie of the Week</h2>
    <app-swiper-horizontal-films
      [filmList]="trendingMovies"
      [scrollbarColor]="'var(--red)'"
      [navigationColor]="'var(--red)'"
    ></app-swiper-horizontal-films>
  </section>

  <section>
    <h2 class="category-title blue">Trending TV Series of the Week</h2>
    <app-swiper-horizontal-films
      [filmList]="trendingTVs"
      [scrollbarColor]="'var(--blue)'"
      [navigationColor]="'var(--blue)'"
    ></app-swiper-horizontal-films>
  </section>
</main>
