@use "variables" as *;

main {
  section {
    margin-top: 32px;
    padding: $padding-sm;

    h2 {
      font-size: $font-size-xxl;
      margin-bottom: 12px;
    }
  }
}

.pink-section {
  h2 {
    color: $pink;
  }
}

.orange-section {
  h2 {
    color: $orange;
  }
}

.red-section {
  h2 {
    color: $red;
  }
}

.blue-section {
  h2 {
    color: $blue;
  }
}

@media only screen and (max-width: 768px) {
  main {
    section {
      h2 {
        font-size: $font-size-lg;
      }
    }
  }
}
