@use "variables" as *;

main {
  section {
    margin-top: 32px;
  }
}

.category-title {
  font-size: $font-size-xxl;
  margin-bottom: 12px;

  &.pink {
    color: $pink;
  }

  &.orange {
    color: $orange;
  }

  &.red {
    color: $red;
  }

  &.blue {
    color: $blue;
  }
}

@media only screen and (max-width: 768px) {
  .category-title {
    font-size: $font-size-lg;
  }
}
