@defer {
<swiper-container
  class="swiper-container"
  pagination="true"
  effect="coverflow"
  grab-cursor="true"
  centered-slides="true"
  slides-per-view="auto"
  coverflow-effect-rotate="50"
  coverflow-effect-stretch="0"
  coverflow-effect-depth="100"
  coverflow-effect-modifier="1"
  coverflow-effect-slide-shadows="true"
  navigation="true"
>
  @for(film of filmList(); track film.id) {
  <swiper-slide>
    <a
      [routerLink]="['/movie', film.id]"
      [ngStyle]="{ 'background-image': 'url(' + film.posterPath + ')' }"
      class="film-link"
    >
      <img [src]="film.posterPath" [alt]="film.title" class="film-poster" />
      <div class="content">
        <p class="title">{{ film.title }}</p>
        <p class="release-date">
          Release Date: {{ film.releaseDate | date : "MMM d, y" }}
        </p>
        <p class="overview">{{ film.overview.slice(0, 125) }}</p>
      </div>
    </a>
  </swiper-slide>
  }
</swiper-container>
} @placeholder {
<div class="placeholder skeleton-container swiper-container skeleton">
  <div class="film-link skeleton">
    <div class="film-poster skeleton-image"></div>
  </div>
</div>
}
