// Global variables
$max-content-width: 1500px;

// Gap variables
$gap-xs: 8px;
$gap-sm: 12px;
$gap-md: 16px;
$gap-lg: 24px;
$gap-xl: 32px;
$gap-xxl: 40px;
$gap-xxxl: 48px;

// Padding variables
$padding-xs: 8px;
$padding-sm: 12px;
$padding-md: 16px;
$padding-lg: 24px;
$padding-xl: 32px;
$padding-xxl: 40px;
$padding-xxxl: 48px;

// Font-size variables
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-xxxl: 40px;

// Padding variables
$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 12px;
$padding-lg: 16px;
$padding-xl: 24px;
$padding-xxl: 32px;
$padding-xxxl: 40px;

// Font-weight variables
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// Colors
$white: #fcf5ed;

// Light Theme Colors
$background-light: #f1efe2;
$text-primary-light: #353535;
$text-secondary-light: #0d5853;
$pink-light: #f063a4;
$pink-tint-light: #f1efe2ae;
$orange-light: #f89e4f;
$orange-tint-light: #f6e6c6ae;
$red-light: #f16154;
$red-tint-light: #f1d0d0ae;
$blue-light: #2dc5f4;
$blue-tint-light: #a3e0f7ae;
$border-light: #666;
$skeleton-color-light: #e3e2de;

// Dark Theme Colors
$background-dark: #353535;
$text-primary-dark: #d5d5d5;
$text-secondary-dark: #ddcc73;
$pink-dark: #e6005c;
$pink-tint-dark: #2a001a;
$orange-dark: #d97f26;
$orange-tint-dark: #5a320e;
$red-dark: #d1414c;
$red-tint-dark: #5a0e13;
$blue-dark: #00b2d6;
$blue-tint-dark: #004c61;
$border-dark: #b3b3b3;
$skeleton-color-dark: #4f4f4f;

// Theme mixins
@mixin light-theme {
  --bgColor: #{$background-light};
  --textColor: #{$text-primary-light};
  --textSecColor: #{$text-secondary-light};
  --borderColor: #{$border-light};
  --pink: #{$pink-light};
  --pink-tint: #{$pink-tint-light};
  --orange: #{$orange-light};
  --orange-tint: #{$orange-tint-light};
  --red: #{$red-light};
  --red-tint: #{$red-tint-light};
  --blue: #{$blue-light};
  --blue-tint: #{$blue-tint-light};
  --skeleton-color: #{$skeleton-color-light};
}

@mixin dark-theme {
  --bgColor: #{$background-dark};
  --textColor: #{$text-primary-dark};
  --textSecColor: #{$text-secondary-dark};
  --borderColor: #{$border-dark};
  --pink: #{$pink-dark};
  --pink-tint: #{$pink-tint-dark};
  --orange: #{$orange-dark};
  --orange-tint: #{$orange-tint-dark};
  --red: #{$red-dark};
  --red-tint: #{$red-tint-dark};
  --blue: #{$blue-dark};
  --blue-tint: #{$blue-tint-dark};
  --skeleton-color: #{$skeleton-color-dark};
}

:root {
  @include dark-theme;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    @include dark-theme;
  }
}

:root[data-theme="dark"] {
  @include dark-theme;
}

:root[data-theme="light"] {
  @include light-theme;
}

$bg-color: var(--bgColor);
$text-color: var(--textColor);
$text-sec-color: var(--textSecColor);
$border-color: var(--borderColor);
$pink: var(--pink);
$pink-tint: var(--pink-tint);
$orange: var(--orange);
$orange-tint: var(--orange-tint);
$red: var(--red);
$red-tint: var(--red-tint);
$blue: var(--blue);
$blue-tint: var(--blue-tint);
$skeleton-color: var(--skeleton-color);
