// Global variables
$max-content-width: 1500px;

// Gap variables
$gap-xs: 8px;
$gap-sm: 12px;
$gap-md: 16px;
$gap-lg: 24px;
$gap-xl: 32px;
$gap-xxl: 40px;
$gap-xxxl: 48px;

// Padding variables
$padding-xs: 8px;
$padding-sm: 12px;
$padding-md: 16px;
$padding-lg: 24px;
$padding-xl: 32px;
$padding-xxl: 40px;
$padding-xxxl: 48px;

// Font-size variables
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-xxxl: 40px;

// Padding variables
$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 12px;
$padding-lg: 16px;
$padding-xl: 24px;
$padding-xxl: 32px;
$padding-xxxl: 40px;

// Font-weight variables
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// Colors
$red: #f12f46;
$white: #fcf5ed;

// Light Theme Colors
$background-light: #f1efe2;
$text-primary-light: #353535;
$text-secondary-light: #0d5853;
$pink-light: #f063a4;
$orange-light: #f89e4f;
$border-light: #666;

// Dark Theme Colors
$background-dark: #353535;
$text-primary-dark: #d5d5d5;
$text-secondary-dark: #a7963c;
$pink-dark: #e6005c;
$orange-dark: #d97f26;
$border-dark: #b3b3b3;

// Theme mixins
@mixin light-theme {
  --bgColor: #{$background-light};
  --textColor: #{$text-primary-light};
  --textSecColor: #{$text-secondary-light};
  --borderColor: #{$border-light};
  --pink: #{$pink-light};
  --orange: #{$orange-light};
}

@mixin dark-theme {
  --bgColor: #{$background-dark};
  --textColor: #{$text-primary-dark};
  --textSecColor: #{$text-secondary-dark};
  --borderColor: #{$border-dark};
  --pink: #{$pink-dark};
  --orange: #{$pink-dark};
}

:root {
  @include light-theme;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    @include dark-theme;
  }
}

:root[data-theme="dark"] {
  @include dark-theme;
}

:root[data-theme="light"] {
  @include light-theme;
}

$bg-color: var(--bgColor);
$text-color: var(--textColor);
$text-sec-color: var(--textSecColor);
$border-color: var(--borderColor);
$pink: var(--pink);
$orange: var(--orange);
